<div class="login-container">
  <h2>Log in</h2>

  <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>

  <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Email</label>
      <input
        id="email"
        type="email"
        name="email"
        [(ngModel)]="email"
        #emailInput="ngModel"
        required
        email
        class="form-control"
        placeholder="Enter your email"
      />
      <div
        *ngIf="
          (emailInput.invalid && emailInput.touched) ||
          (emailInput.invalid && submitted)
        "
        class="text-danger"
      >
        <span *ngIf="emailInput.errors?.['required']"
          >Email address is required.</span
        >
        <span *ngIf="emailInput.errors?.['email']"
          >Invalid email format.</span
        >
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input
        id="password"
        type="password"
        name="password"
        [(ngModel)]="password"
        #passwordInput="ngModel"
        required
        class="form-control"
        placeholder="Enter your password"
      />
      <div
        *ngIf="
          (passwordInput.invalid && passwordInput.touched) ||
          (passwordInput.invalid && submitted)
        "
        class="text-danger"
      >
        Password is required.
      </div>
    </div>
    <!-- si hay errores esta deshabilitado -->
    <button
      type="submit"
      [disabled]="loginForm.invalid"
      class="btn btn-primary mt-3"
    >
      Enter
    </button>
  </form>
  
  <div class="login-footer mt-3">
  <a [routerLink]="['/results']" class="btn btn-secondary">View Results</a>
</div>

</div>
